In [2]:
import pandas as pd
import seaborn as sns
import  matplotlib.pyplot as plt
import textwrap
import numpy as np
# import plotly.express as px

# df = pd.read_csv('https://storage.googleapis.com/hk4417_dse6000_hoassignment/Covid_Data.csv', encoding="ISO-8859-1")
df = pd.read_csv('./data/covid_housing_latest.csv')

# Correlation Queries

In [33]:
# 1
def vaccination_correlation(df):
  y = df[df['indicator'] == 'Vac_done']
  x = y.copy()
  x['percentage_vaccinated'] = (x['sample_subset']/x['sample_total']) *100 
  percentage = x['percentage_vaccinated'].astype('category').cat.codes
  development = x['urban_rural'].astype('category').cat.codes

  vax_correlation = percentage.corr(development)
  return vax_correlation
vaccination_correlation(df)

-0.14932538613717367

In [11]:
# 2
income = df[['income_group', 'sample_total']].drop_duplicates(subset=['income_group', 'sample_total'], keep='first')
income = income.groupby('income_group').agg({'sample_total': 'count'}).reset_index()
income

          income_group  sample_total
0          High income            14
1           Low income           108
2  Lower middle income            93
3  Upper middle income            78

In [12]:
# 3 
industry = df[['industry', 'sample_total']].drop_duplicates(subset=['industry', 'sample_total'], keep='first')
industry = industry.groupby('industry').agg({'sample_total': 'count'})
industry

                      sample_total
industry
Agriculture                    162
All                            277
Commerce                       168
Mining/Manufacturing           165
Not reported                   266
Other services                 182

In [13]:
# 4 
coping = df[df['indicator_topic'] == 'Coping']
coping['count_column'] = None
coping_count = coping.groupby(['indicator_display', 'country']).agg({'count_column':'count'})
coping_count

/tmp/ipykernel_18348/3503533720.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coping['count_column'] = None

                                                                 count_column
indicator_display                                  country
Reduced consumption of goods (essential or non-... Argentina                0
                                                   Armenia                  0
                                                   Bolivia                  0
                                                   Bulgaria                 0
                                                   Burkina Faso             0
...                                                                       ...
Used emergency savings to cover basic living ex... Tunisia                  0
                                                   Uganda                   0
                                                   Uzbekistan               0
                                                   Vietnam                  0
                                                   Zimbabwe                 0

[145 rows x 1 columns]

In [14]:
# 5
copi_sold = (df['indicator'] == 'Copi_sold') & (df['industry'] == 'All') & (df['wave'] == 'WAVE1')
df.loc[copi_sold, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
62,Argentina,Sold assets to pay for basic living expenses d...,National,1001,1001.0,Upper middle income
67,Argentina,Sold assets to pay for basic living expenses d...,Urban,893,1001.0,Upper middle income
68,Argentina,Sold assets to pay for basic living expenses d...,Rural,108,1001.0,Upper middle income
2223,Armenia,Sold assets to pay for basic living expenses d...,National,4545,4545.0,Upper middle income
2225,Armenia,Sold assets to pay for basic living expenses d...,Urban,2341,4545.0,Upper middle income
...,...,...,...,...,...,...
116109,Uzbekistan,Sold assets to pay for basic living expenses d...,Rural,1185,1543.0,Lower middle income
116110,Uzbekistan,Sold assets to pay for basic living expenses d...,Urban,358,1543.0,Lower middle income
120033,Zambia,Sold assets to pay for basic living expenses d...,National,1602,1602.0,Lower middle income
120039,Zambia,Sold assets to pay for basic living expenses d...,Rural,571,1602.0,Lower middle income
120040,Zambia,Sold assets to pay for basic living expenses d...,Urban,1031,1602.0,Lower middle income

In [15]:
# 7
FS_day = (df['indicator'] == 'FS_day') & (df['industry'] == 'All') & (df['wave'] == 'WAVE1')
df.loc[FS_day, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
227,Argentina,"In the last 30 days, went without eating for a...",National,1001,1001.0,Upper middle income
232,Argentina,"In the last 30 days, went without eating for a...",Rural,108,1001.0,Upper middle income
233,Argentina,"In the last 30 days, went without eating for a...",Urban,893,1001.0,Upper middle income
2295,Armenia,"In the last 30 days, went without eating for a...",National,4540,4545.0,Upper middle income
2297,Armenia,"In the last 30 days, went without eating for a...",Rural,2204,4545.0,Upper middle income
...,...,...,...,...,...,...
120345,Zambia,"In the last 30 days, went without eating for a...",Urban,1031,1602.0,Lower middle income
120346,Zambia,"In the last 30 days, went without eating for a...",Rural,571,1602.0,Lower middle income
121427,Zimbabwe,"In the last 30 days, went without eating for a...",National,1744,1747.0,Lower middle income
121433,Zimbabwe,"In the last 30 days, went without eating for a...",Rural,1284,1747.0,Lower middle income
121434,Zimbabwe,"In the last 30 days, went without eating for a...",Urban,460,1747.0,Lower middle income

In [17]:
# 8
covid_project_Peru_education = df[df.indicator.isin(['Demo_educ1', 'Demo_educ2', 'Demo_educ3', 'Demo_educ4']) \
                                                  & df.wave.isin(['WAVE1'])]
covid_project_Peru_education

,row_id,code,country,region_code,region,wave,month,year,indicator_topic,indicator,...,unit_measure,measure_type,GDP_pc,ln_GDP_pc,weight_type,footnote,survey_producer,survey_link,last_updated,source
0,1,AFG,Afghanistan,SAR,South Asia,WAVE1,9.0,2020,Demographic,Demo_educ1,...,Percent of respondent,p,2065.0,8.0,Individual weight,NaN,NaN,NaN,02/28/2022 16:23PM,High Frequency Phone Survey
1,2,AFG,Afghanistan,SAR,South Asia,WAVE1,9.0,2020,Demographic,Demo_educ2,...,Percent of respondent,p,2065.0,8.0,Individual weight,(*) the category includes incomplete and compl...,NaN,NaN,02/28/2022 16:23PM,High Frequency Phone Survey
2,3,AFG,Afghanistan,SAR,South Asia,WAVE1,9.0,2020,Demographic,Demo_educ3,...,Percent of respondent,p,2065.0,8.0,Individual weight,(*) the category includes incomplete and compl...,NaN,NaN,02/28/2022 16:23PM,High Frequency Phone Survey
3,4,AFG,Afghanistan,SAR,South Asia,WAVE1,9.0,2020,Demographic,Demo_educ4,...,Percent of respondent,p,2065.0,8.0,Individual weight,(*) the category includes incomplete post-seco...,NaN,NaN,02/28/2022 16:23PM,High Frequency Phone Survey
86,87,ARG,Argentina,LAC,Latin America & Caribbean,WAVE1,6.0,2020,Demographic,Demo_educ1,...,Percent of respondent,p,22066.0,10.0,Household weight,NaN,Sistemas Integrales. World Bank.,https://microdata.worldbank.org/index.php/cata...,02/28/2022 16:23PM,High Frequency Phone Survey
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120113,120120,ZMB,Zambia,SSA,Sub-Saharan Africa,WAVE1,6.0,2020,Demographic,Demo_educ4,...,Percent of respondent,p,3470.0,8.0,Household weight,NaN,World Bank.,https://microdata.worldbank.org/index.php/cata...,02/28/2022 16:23PM,High Frequency Phone Survey
120114,120121,ZMB,Zambia,SSA,Sub-Saharan Africa,WAVE1,6.0,2020,Demographic,Demo_educ4,...,Percent of respondent,p,3470.0,8.0,Household weight,NaN,World Bank.,https://microdata.worldbank.org/index.php/cata...,02/28/2022 16:23PM,High Frequency Phone Survey
120115,120122,ZMB,Zambia,SSA,Sub-Saharan Africa,WAVE1,6.0,2020,Demographic,Demo_educ4,...,Percent of respondent,p,3470.0,8.0,Household weight,NaN,World Bank.,https://microdata.worldbank.org/index.php/cata...,02/28/2022 16:23PM,High Frequency Phone Survey
120116,120123,ZMB,Zambia,SSA,Sub-Saharan Africa,WAVE1,6.0,2020,Demographic,Demo_educ4,...,Percent of respondent,p,3470.0,8.0,Household weight,NaN,World Bank.,https://microdata.worldbank.org/index.php/cata...,02/28/2022 16:23PM,High Frequency Phone Survey
120117,120124,ZMB,Zambia,SSA,Sub-Saharan Africa,WAVE1,6.0,2020,Demographic,Demo_educ4,...,Percent of respondent,p,3470.0,8.0,Household weight,NaN,World Bank.,https://microdata.worldbank.org/index.php/cata...,02/28/2022 16:23PM,High Frequency Phone Survey

In [18]:
# 9
Safe_anysource = (df['indicator'] == 'Safe_anysource') & (df['industry'] == 'All')
df.loc[Safe_anysource, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
35,Afghanistan,Received any form of assistance since the star...,National,5056,5057.0,Low income
766,Argentina,Received any form of assistance since the star...,National,1001,1001.0,Upper middle income
771,Argentina,Received any form of assistance since the star...,Rural,108,1001.0,Upper middle income
772,Argentina,Received any form of assistance since the star...,Urban,893,1001.0,Upper middle income
2397,Armenia,Received any form of assistance since the star...,National,4545,4545.0,Upper middle income
...,...,...,...,...,...,...
121101,Zambia,Received any form of assistance since the star...,Urban,1031,1602.0,Lower middle income
121968,Zimbabwe,Received any form of assistance since the star...,National,1747,1747.0,Lower middle income
121974,Zimbabwe,Received any form of assistance since the star...,Urban,462,1747.0,Lower middle income
121975,Zimbabwe,Received any form of assistance since the star...,Rural,1285,1747.0,Lower middle income
123103,Ethiopia,Received any form of assistance since the star...,National,406,1676.0,Low income

In [19]:
# 10
Educ_mobi = (df['indicator'] == 'Educ_mobi') & (df['industry'] == 'All') & (df['wave'] == 'WAVE1')
df.loc[Educ_mobi, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
192,Argentina,Children used mobile learning apps since schoo...,National,422,1001.0,Upper middle income
195,Argentina,Children used mobile learning apps since schoo...,Rural,57,1001.0,Upper middle income
196,Argentina,Children used mobile learning apps since schoo...,Urban,365,1001.0,Upper middle income
3278,Burkina Faso,Children used mobile learning apps since schoo...,National,1599,1968.0,Low income
3284,Burkina Faso,Children used mobile learning apps since schoo...,Urban,1152,1968.0,Low income
...,...,...,...,...,...,...
120226,Zambia,Children used mobile learning apps since schoo...,Rural,378,1602.0,Lower middle income
120227,Zambia,Children used mobile learning apps since schoo...,Urban,667,1602.0,Lower middle income
121315,Zimbabwe,Children used mobile learning apps since schoo...,National,1201,1747.0,Lower middle income
121321,Zimbabwe,Children used mobile learning apps since schoo...,Rural,910,1747.0,Lower middle income
121322,Zimbabwe,Children used mobile learning apps since schoo...,Urban,291,1747.0,Lower middle income

In [20]:
#11
Heal_reason1 = (df['indicator'] == 'Heal_reason1') & (df['industry'] == 'All') & (df['wave'] == 'WAVE1')
df.loc[Heal_reason1, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
7,Afghanistan,Could not receive medical attention due to lac...,National,567,5057.0,Low income
297,Argentina,Could not receive medical attention due to lac...,National,39,1001.0,Upper middle income
298,Argentina,Could not receive medical attention due to lac...,Urban,37,1001.0,Upper middle income
2789,Antigua and Barbuda,Could not receive medical attention due to lac...,National,154,790.0,High income
2792,Antigua and Barbuda,Could not receive medical attention due to lac...,Rural,83,790.0,High income
...,...,...,...,...,...,...
120480,Zambia,Could not receive medical attention due to lac...,Rural,36,1602.0,Lower middle income
120481,Zambia,Could not receive medical attention due to lac...,Urban,58,1602.0,Lower middle income
121556,Zimbabwe,Could not receive medical attention due to lac...,National,93,1747.0,Lower middle income
121558,Zimbabwe,Could not receive medical attention due to lac...,Rural,60,1747.0,Lower middle income
121559,Zimbabwe,Could not receive medical attention due to lac...,Urban,33,1747.0,Lower middle income

In [21]:
# 12
vax_income = df[df['indicator'] == 'Vac_done']
y = vax_income.copy()
y['percentage_vaccinated'] = (y['sample_subset']/y['sample_total'])
x = y[['income_group', 'percentage_vaccinated']].groupby('income_group').agg({'percentage_vaccinated':'mean'}).style.format("{:.1%}")
x

In [22]:
# 13
frame = pd.DataFrame()
for i in range(1, 10):
  x = df[df['indicator'] == f'Vac_concern_{i}']
  frame = frame.append(x)
pd.pivot_table(frame, values='indicator', index=['indicator_display'],
                    columns=['income_group'], aggfunc={'income_group' : 'count'})

/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)
/tmp/ipykernel_18348/241831756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(x)

income_group,High income,Low income,Lower middle income,Upper middle income
indicator_display,,,,
Not wanting or unsure about vaccination because do not think it will work *,22,151,127,210
Not wanting or unsure about vaccination because it takes to long to get vaccinated / don't have time *,22,151,127,210
Not wanting or unsure about vaccination because it's against religion *,22,151,127,210
Not wanting or unsure about vaccination because low risk of contracting COVID-19 *,22,151,127,210
Not wanting or unsure about vaccination because the health facility is hard to get to *,22,151,127,210
Not wanting or unsure about vaccination because they already had COVID-19 *,22,151,126,244
Not wanting or unsure about vaccination because they are worried about getting COVID-19 at the health facility *,22,151,127,210
Not wanting or unsure about vaccination because they are worried about side effects *,22,151,127,210
Not wanting or unsure about vaccination because they don't trust vaccines in general *,22,151,127,210

In [23]:
# 14
house_owner = (df['indicator'] == 'Hous_own') & (df['industry'] == 'All') & (df['wave'] == 'WAVE1')
df.loc[house_owner, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
15,Afghanistan,Have ownership of current house (% of HHs),National,5055,5057.0,Low income
7773,Bangladesh,Have ownership of current house (% of HHs),National,7637,7649.0,Lower middle income
12461,Bhutan,Have ownership of current house (% of HHs),National,1499,1503.0,Lower middle income
49842,Iraq,Have ownership of current house (% of HHs),National,1621,1621.0,Upper middle income
49844,Iraq,Have ownership of current house (% of HHs),Urban,950,1621.0,Upper middle income
49845,Iraq,Have ownership of current house (% of HHs),Rural,671,1621.0,Upper middle income
59401,Lebanon,Have ownership of current house (% of HHs),National,2335,2335.0,Upper middle income
59403,Lebanon,Have ownership of current house (% of HHs),NaN,2335,2335.0,Upper middle income
60005,Libya,Have ownership of current house (% of HHs),National,463,463.0,Upper middle income
60007,Libya,Have ownership of current house (% of HHs),NaN,463,463.0,Upper middle income
62093,Sri Lanka,Have ownership of current house (% of HHs),National,5059,5072.0,Lower middle income
63183,Maldives,Have ownership of current house (% of HHs),National,1939,1945.0,Upper middle income
67222,Myanmar,Have ownership of current house (% of HHs),National,1499,1500.0,Lower middle income
67224,Myanmar,Have ownership of current house (% of HHs),Urban,461,1500.0,Lower middle income
67225,Myanmar,Have ownership of current house (% of HHs),Rural,1038,1500.0,Lower middle income
79383,Malaysia,Have ownership of current house (% of HHs),National,2210,2210.0,Upper middle income
79389,Malaysia,Have ownership of current house (% of HHs),Urban,1348,2210.0,Upper middle income
79390,Malaysia,Have ownership of current house (% of HHs),Rural,862,2210.0,Upper middle income
84969,Nepal,Have ownership of current house (% of HHs),National,3265,3267.0,Lower middle income
85008,Pakistan,Have ownership of current house (% of HHs),National,8128,8156.0,Lower middle income

In [24]:
# 15
know_curfew = (df['indicator'] == 'Know_curfew') & (df['industry'] == 'All') & (df['wave'] == 'WAVE1')
df.loc[know_curfew, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
442,Argentina,Aware of government imposing curfew or lockdow...,National,997,1001.0,Upper middle income
447,Argentina,Aware of government imposing curfew or lockdow...,Urban,890,1001.0,Upper middle income
448,Argentina,Aware of government imposing curfew or lockdow...,Rural,107,1001.0,Upper middle income
3501,Burkina Faso,Aware of government imposing curfew or lockdow...,National,1965,1968.0,Low income
3507,Burkina Faso,Aware of government imposing curfew or lockdow...,Rural,545,1968.0,Low income
...,...,...,...,...,...,...
112064,Uganda,Aware of government imposing curfew or lockdow...,Urban,579,2226.0,Low income
112065,Uganda,Aware of government imposing curfew or lockdow...,Rural,1626,2226.0,Low income
120695,Zambia,Aware of government imposing curfew or lockdow...,National,1599,1602.0,Lower middle income
120701,Zambia,Aware of government imposing curfew or lockdow...,Rural,571,1602.0,Lower middle income
120702,Zambia,Aware of government imposing curfew or lockdow...,Urban,1028,1602.0,Lower middle income

In [25]:
# 16
vax_plan = (df['indicator'] == 'Vac_plan') & (df['industry'] == 'All') & (df['wave'] == 'WAVE1')
df.loc[vax_plan, ['country', 'indicator_display', 'urban_rural', 'sample_subset', 'sample_total', 'income_group']]

,country,indicator_display,urban_rural,sample_subset,sample_total,income_group
3135,Antigua and Barbuda,Plan to take COVID-19 vaccine (% of respondents),National,790,790.0,High income
3140,Antigua and Barbuda,Plan to take COVID-19 vaccine (% of respondents),Rural,422,790.0,High income
3141,Antigua and Barbuda,Plan to take COVID-19 vaccine (% of respondents),Urban,368,790.0,High income
9135,Belize,Plan to take COVID-19 vaccine (% of respondents),National,816,816.0,Upper middle income
9141,Belize,Plan to take COVID-19 vaccine (% of respondents),Urban,386,816.0,Upper middle income
9142,Belize,Plan to take COVID-19 vaccine (% of respondents),Rural,430,816.0,Upper middle income
12419,Brazil,Plan to take COVID-19 vaccine (% of respondents),National,2166,2166.0,Upper middle income
12425,Brazil,Plan to take COVID-19 vaccine (% of respondents),Urban,1940,2166.0,Upper middle income
12426,Brazil,Plan to take COVID-19 vaccine (% of respondents),Rural,226,2166.0,Upper middle income
23691,Dominica,Plan to take COVID-19 vaccine (% of respondents),National,861,861.0,Upper middle income
23697,Dominica,Plan to take COVID-19 vaccine (% of respondents),Rural,459,861.0,Upper middle income
23698,Dominica,Plan to take COVID-19 vaccine (% of respondents),Urban,402,861.0,Upper middle income
44408,Guyana,Plan to take COVID-19 vaccine (% of respondents),National,785,785.0,Upper middle income
44414,Guyana,Plan to take COVID-19 vaccine (% of respondents),Rural,430,785.0,Upper middle income
44415,Guyana,Plan to take COVID-19 vaccine (% of respondents),Urban,355,785.0,Upper middle income
48019,Haiti,Plan to take COVID-19 vaccine (% of respondents),National,2813,2813.0,Low income
48025,Haiti,Plan to take COVID-19 vaccine (% of respondents),Urban,2049,2813.0,Low income
48026,Haiti,Plan to take COVID-19 vaccine (% of respondents),Rural,764,2813.0,Low income
53398,Jamaica,Plan to take COVID-19 vaccine (% of respondents),National,828,828.0,Upper middle income
53404,Jamaica,Plan to take COVID-19 vaccine (% of respondents),Urban,417,828.0,Upper middle income
53405,Jamaica,Plan to take COVID-19 vaccine (% of respondents),Rural,411,828.0,Upper middle income
79742,Malaysia,Plan to take COVID-19 vaccine (% of respondents),National,2210,2210.0,Upper middle income
79748,Malaysia,Plan to take COVID-19 vaccine (% of respondents),Rural,862,2210.0,Upper middle income
79749,Malaysia,Plan to take COVID-19 vaccine (% of respondents),Urban,1348,2210.0,Upper middle income
84922,Nicaragua,Plan to take COVID-19 vaccine (% of respondents),National,833,833.0,Lower middle income
84928,Nicaragua,Plan to take COVID-19 vaccine (% of respondents),Rural,268,833.0,Lower middle income
84929,Nicaragua,Plan to take COVID-19 vaccine (% of respondents),Urban,565,833.0,Lower middle income
85652,Panama,Plan to take COVID-19 vaccine (% of respondents),National,815,815.0,High income
85658,Panama,Plan to take COVID-19 vaccine (% of respondents),Urban,550,815.0,High income
85659,Panama,Plan to take COVID-19 vaccine (% of respondents),Rural,265,815.0,High income
106878,Thailand,Plan to take COVID-19 vaccine (% of respondents),National,1786,2000.0,Upper middle income
106884,Thailand,Plan to take COVID-19 vaccine (% of respondents),Urban,1123,2000.0,Upper middle income
106885,Thailand,Plan to take COVID-19 vaccine (% of respondents),NaN,40,2000.0,Upper middle income
106886,Thailand,Plan to take COVID-19 vaccine (% of respondents),Rural,623,2000.0,Upper middle income
116081,Uruguay,Plan to take COVID-19 vaccine (% of respondents),National,816,816.0,High income
116087,Uruguay,Plan to take COVID-19 vaccine (% of respondents),Rural,84,816.0,High income
116088,Uruguay,Plan to take COVID-19 vaccine (% of respondents),Urban,732,816.0,High income

In [26]:
# 17
prev_dist = df[df['indicator'] == 'Prev_distancing']
y = prev_dist.copy()
y['percentage_prev_distancing'] = y['sample_subset'] / y['sample_total']
x = y[['income_group', 'percentage_prev_distancing']].groupby('income_group').agg({'percentage_prev_distancing':'mean'}).style.format("{:.1%}")
x

In [27]:
# 18
vac_test = df[df['indicator'] == 'Vac_test']
y = vac_test.copy()
y['percentage_vac_test'] = y['sample_subset'] / y['sample_total']
x = y[['income_group', 'percentage_vac_test']].groupby('income_group').agg({'percentage_vac_test':'mean'}).style.format("{:.1%}")
x

In [28]:
# 19
vac_know_how = df[df['indicator'] == 'Vac_know_how']
y = vac_know_how.copy()
y['percentage_vac_know_how'] = y['sample_subset'] / y['sample_total']
x = y[['income_group', 'percentage_vac_know_how']].groupby('income_group').agg({'percentage_vac_know_how':'mean'}).style.format("{:.1%}")
x

In [29]:
# 20
vac_plan_avail = df[df['indicator'] == 'Vac_plan_avail']
y = vac_plan_avail.copy()
y['percentage_vac_plan_avail'] = y['sample_subset'] / y['sample_total']
x = y[['income_group', 'percentage_vac_plan_avail']].groupby('income_group').agg({'percentage_vac_plan_avail':'mean'}).style.format("{:.1%}")
x

In [32]:
# 21
fs_hungry = df[df['indicator'] == 'FS_hungry']
y = fs_hungry.copy()
y['percentage_fs_hungry'] = y['sample_subset'] / y['sample_total']
x = y[['income_group', 'percentage_fs_hungry']].groupby('income_group').agg({'percentage_fs_hungry':'mean'}).style.format("{:.1%}")
x

# Exploring Queries

In [30]:
#1
bad_value = ['Not reported']
reporting = df[~df["urban_rural"].isin(bad_value)]
pd.pivot_table(reporting, values='GDP_pc', index=['FCS'],
                    columns=['income_group'], aggfunc={'income_group' : 'count'})\
                    .sort_values(['FCS'], ascending=[True])

income_group,Low income,Lower middle income,Upper middle income
FCS,,,
High Institutional and Social Fragility,3323.0,4872.0,584.0
High-Intensity Conflict,820.0,NaN,NaN
High-Intensity Conflict (International),NaN,NaN,350.0
Medium-Intensity Conflict,18226.0,6227.0,3139.0

In [31]:
#2
explore = df.groupby('country').agg({'GDP_pc': 'mean'})
explore.sort_values(['GDP_pc'], ascending=[False])
explore.reset_index()
explore

                      GDP_pc
country
Afghanistan           2065.0
Antigua and Barbuda  21850.0
Argentina            22066.0
Armenia              13654.0
Bangladesh            4754.0
...                      ...
Uzbekistan            7348.0
Vietnam               8041.0
West Bank and Gaza    6245.0
Zambia                3470.0
Zimbabwe              3630.0

[84 rows x 1 columns]

# Overall Insights

After analyzing the COVID-19 housing data above, many things became clear. First, there are clearly many different causes and effects within the data set. Observing the graphs on our dashboard one can see that education level, income group, GDP per capita, and even the region all play a part in each people's response to the COVID-19 pandemic. Some of the observations were surprising such as more preventative measures being taken in areas with lower GDP. Others were expected such as the urban population being slightly more educated in general than the rural population. Overall, it seems as though the strongest effects come from the financial situation of the countries.